.App {
  text-align: center;
}
.title{
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
.icons{
  font-size: 15px;
  padding-left: 10px;
  font-weight: bold;
  margin: 5px;
  float: right;
  color: rgb(85, 85, 245);
}
.bottom{
  min-height: fit-content;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px rgb(204, 201, 201);
  margin:0;
  overflow: hidden ;
}
.pill{
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 16px;
  
}
.sidebar{
  background-color: #f1f1f1;
  top: -100px;
  float: right;
}
.row:hover{
  background-color: #ffffff;
}

.videoIcon{
  height: 50px;
  width:75px;
float: left;
margin: 5px;
padding-top: 5px;
}
.videoname{
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: justify;
  font-weight: bold;
}